[Unit]
Description=My devices Service
Before=login.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=-/sbin/modprobe -a mptspi sd_mod ext4
ExecStart=/bin/sh -c "/lib/systemd/systemd-udevd --daemon & \
    udevadm trigger --type=subsystems --action=add \
    udevadm trigger --type=devices --action=add \
    udevadm settle || true; \
    /bin/mount -t ext4 /dev/sda1 /mnt/hd"

[Install]
WantedBy=default.target
